li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}

#background-front {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.3;
}

@media screen and (max-width: 600px) {
    #title {
        color: white;
        margin-top: 140px;
        font-size: 4em;
        text-shadow: 1px 1px black;
        font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    }
}

#modal-title {
    font-size: 6em;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

@media screen and (max-width: 464px) {
    #modal-title {
        font-size: 4em;
        font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    }
}

@media screen and (max-width: 317px) {
    #modal-title {
        font-size: 3em;
        font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
    }
}

#place-list-title {
    font-size: 3em;
}

li.result {
    display: inline-block;
    background: white;
    color: black;
    margin: 1em 1em;
    padding: 60px 6em;
    border-radius: 50%;
    text-shadow: 1px 1px 1px;
    animation: vertical 1s ease-in-out infinate alternate;
}

.modal-content {
    padding: 1em;
}

ul.place-list>li {
    text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: black;
}

#youtube-title {
  color: white;
}